/** Media Queries **/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100%;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
}
.header .site-name {
  flex: 0 0 5rem;
  background-color: #003f8c;
  padding: 1rem;
}
@media only screen and (min-width: 1024px) {
  .header .site-name {
    flex: 0 0 20rem;
  }
}
.header .site-name h1 {
  color: #FFFFFF;
}
.header .site-name .desktop {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header .site-name .desktop {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .header .site-name .mobile {
    display: none;
  }
}