/** Media Queries **/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

img {
  max-width: 100%;
}

.no-menu.app .sidebar {
  margin-left: -20rem;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

i {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.header {
  display: flex;
}
.header .site-name {
  flex: 0 0 5rem;
  background-color: #003f8c;
  padding: 1rem;
}
@media only screen and (min-width: 1024px) {
  .header .site-name {
    flex: 0 0 20rem;
  }
}
.header .site-name h1 {
  color: #FFFFFF;
}
.header .site-name .desktop {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header .site-name .desktop {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .header .site-name .mobile {
    display: none;
  }
}

.bar {
  flex: 1;
  background-color: #005b9f;
  display: flex;
  justify-content: space-between;
}
.bar .left-content {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.bar .left-content .fa-arrow-right {
  display: none;
}
.bar .right-content {
  display: flex;
}
.bar .right-content .box {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.bar .right-content .box:hover {
  background-color: #003f8c;
}
.bar .right-content .box a {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.bar .right-content .box a span {
  background-color: #009045;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  transition: margin-left 0.3s ease-out;
  flex: 0 0 20rem;
  background-color: #373737;
  color: #FFFFFF;
  padding: 1rem 2rem 0 2rem;
}
.sidebar .user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
.sidebar .user img {
  max-width: 60px;
}
.sidebar .user span {
  font-weight: normal;
  display: block;
}
.sidebar .search {
  margin-top: 1rem;
}
.sidebar .search input[type=text] {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}

.menu-admin {
  margin-top: 1rem;
}
.menu-admin h2 {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}
.menu-admin .menu {
  list-style: none;
  padding: 0;
}
.menu-admin .menu > li {
  padding: 0.5rem;
}
.menu-admin .menu > li:hover ul {
  display: block;
}
.menu-admin .menu > li ul {
  display: none;
  list-style: none;
  padding: 1rem;
  background-color: #040404;
  margin-top: 1rem;
}
.menu-admin .menu > li ul li {
  margin-bottom: 1rem;
}
.menu-admin .menu > li ul li:last-of-type {
  margin-bottom: 0;
}
.menu-admin .menu > li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5rem;
  transition: padding-left 0.3s ease, background-color 0.3s ease-in-out;
}
.menu-admin .menu > li a:hover {
  background-color: #005b9f;
  padding-left: 2rem;
}

.content {
  flex: 1;
  padding: 1rem;
  background-color: #eeeeee;
}
.content h2 {
  text-align: center;
}

.new-client {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.new-client .field {
  margin-bottom: 1rem;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .new-client .field {
    flex: 0 0 50%;
  }
}
.new-client .field.expand {
  flex: 0 0 100%;
  justify-content: flex-start;
}
.new-client .field label {
  flex: 0 0 120px;
  padding-left: 1rem;
}
.new-client .field input[type=text],
.new-client .field textarea {
  flex: 1;
  border: none;
  padding: 0.5rem 1rem;
}
.new-client .field textarea {
  height: 10rem;
}
.new-client .field .options {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .new-client .field .options {
    flex: 0 0 40%;
  }
}
.new-client .field .options label {
  flex: 1;
  padding-left: 0.5rem;
}
.new-client .field.submit {
  display: flex;
  justify-content: flex-end;
}
.new-client .field.submit .button {
  background-color: #005b9f;
  padding: 1rem;
  display: block;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.new-client .field.submit .button:hover {
  cursor: pointer;
  background-color: #003e6c;
}